.Notifications
  margin-bottom 10
  .showError-mainErrorMsg
    .showError-num
      color red
  ul  
    margin-left 16
    list-style disc

div.tooltip
  left calc(100% - 760px) !important
  .ant-tooltip-content
    .ant-tooltip-inner
      width 450
      max-width 450 !important
